{{ define "about" }}
    {{ template "base" . }}
{{ end }}

{{ define "title" }}about — wasting no time{{ end }}

{{ define "content" }}
<main>
    {{ if .Page }}
    <section class="page-body">
        {{ .Page.Body }}
    </section>
    {{ else }}
    <p class="page-intro">About content unavailable.</p>
    {{ end }}
</main>
{{ end }}
