{{ define "studio" }}
    {{ template "base" . }}
{{ end }}

{{ define "title" }}{{ .Title }}{{ end }}
{{ define "h1" }}{{ end }}

{{ define "content" }}
<main>
    {{ if .Summary }}
    <p class="page-intro">{{ .Summary }}</p>
    {{ end }}
    <section class="page-body">
        {{ .BodyHTML }}
    </section>
</main>
{{ end }}
