# This workflow will build a golang project
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-go

name: go

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]


jobs:

  build:
    runs-on: ubuntu-latest

    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v5

      - name: set up go
        uses: actions/setup-go@v6
        with:
          go-version: '1.25'

      - name: build generator
        run: |
          go mod tidy
          go build ./cmd/build

      - name: validate content
        run: go run ./cmd/migrate check

      - name: execute generator
        env:
          IS_PROD_ENV: true
          SITE_BASE_URL: https://wastingnotime.org/
        run: ./build
